.layout_width {
  max-width: 1128px;
  min-width: 320px;
}

.bg_purple_gradient {
  background: radial-gradient(53.56% 53.56% at 50% 0%, #4a195b 0%, #320e3f 100%);
}

.no-pseudo-opacity::before {
  opacity: 0 !important;
}

a.active-on-hover:hover,
button.active-on-hover:hover,
.active-on-hover:hover .v-icon {
  /*noinspection CssUnresolvedCustomProperty*/
  color: var(--v-light-purple-base) !important;
}
