.layout_width {
  max-width: 1128px;
  min-width: 320px;
}

.bg_deep-purple_gradient {
  background: radial-gradient(53.56% 53.56% at 50% 0%, #4a195b 0%, #320e3f 100%);
}

.bg_grey {
  background: #F1F1F1 !important;
}

.no-pseudo-opacity::before {
  opacity: 0 !important;
}
