$body-font-family: Manrope;

$list-item-min-height: 24px;

$btn-icon-font-size: 16px;
$btn-letter-spacing: normal;
$btn-text-transform: none;
$btn-sizes: (
  'x-small': 40,
  'small': 40,
  'default': 40,
);
$btn-font-sizes: (
  'x-small':12px,
  'small': 14px,
  'default': 16px,
  'large': 16px,
  'x-large': 18px,
);

$headings: (
  'subtitle-1': (
    'size': 16px,
    'weight': bold,
    'line-height': 22px !important,
    'letter-spacing': normal,
  ),
  'body-1': (
    'size': 14px,
    'line-height': 19px !important,
    'letter-spacing': normal,
  )
);
